* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  
}

main {
  display: flex;
  justify-content: center;
}

.main-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.textlogo {
  width: 176px;
  height: 50px;
  background-image:url('../img/Wikipedia.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.globologo {
  width: 190px;
  height: 190px;
  background-image:url('../img/Globo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  
}

.main-idiomas {
  height: 500px;
  text-align: center;
  
}
.main-idiomas .div {
  width: 100vw;
  height: 50vh;
  display: flex;
}